/*-- scss:defaults --*/
$midnight-blue: #021526;
$dark-pink: #d90367d1;
$calm-white: #f8f3f2;
// Base document colors
$navbar-bg: transparent;
$body-bg: $midnight-blue;
$body-color: $calm-white;
$link-color: $dark-pink;
